.grid {
  padding: 0 14px;
  max-width: 1164px;
  margin-left: auto;
  margin-right: auto
}

.grid:after,.grid:before {
  content: '';
  display: table
}

.grid:after,.row {
  clear: both
}

@media screen and (min-width: 480px) {
  .grid {
    padding:0 15px
  }
}