.section-wrapper {
  display: block;

  .badge img {
    width: 78px;
    height: 30px;
  }
  .card-img img {
    height: auto;
  }

  img {
    height: auto;
  }

  .image-with-badge  {
    .badge img {
      width: 148px;
    }
    .badge-button {
      margin-top: 40px;
    }
  }
}