/* stylelint-disable max-line-length */

@font-face {
  font-family: myriad-pro;
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/MyriadPro-Light.woff) format("woff")
}

@font-face {
  font-family: myriad-pro;
  font-style: italic;
  font-weight: 200;
  src: url(../fonts/MyriadPro-LightIt.woff) format("woff")
}

@font-face {
  font-family: myriad-pro;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MyriadPro-Regular.woff) format("woff")
}

@font-face {
  font-family: myriad-pro;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/MyriadPro-It.woff) format("woff")
}

@font-face {
  font-family: myriad-pro;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/MyriadPro-Semibold.woff) format("woff")
}

@font-face {
  font-family: myriad-pro;
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/MyriadPro-SemiboldIt.woff) format("woff")
}

@font-face {
  font-family: anz-icons;
  src: url(../fonts/anz-icons.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

